

html, body {
    font-family:Tahoma, Geneva, sans-serif;
    text-align: center;
    background-size: 100%;
    font-size: 23px;
 
    padding: 0; 
    align-content: center;
    color: mintcream;
    background-color: darkturquoise;
  
}
table{
    width:80%;
    align-content: center;
    border: 'FFFFFF';
     
}
button {
  padding:5px;
  border: 1px solid #FFFFFF;
  color:#FFFFFF;
  text-decoration:none;
  background-color: Transparent;
  height: 40px;
  width: 150px;
  margin-left: 10px;
    margin-right: 10px;
  font-size: 15px;
  
}
#startButton{
  padding:5px;
  border: 1px solid #FFFFFF;
  color:#FFFFFF;
  text-decoration:none;
  background-color: Transparent;
  height: 40px;
  margin-left: 10px;
  font-size: 22px;
   width: 115px; 
}

input[type=text] {
 align-content: center;
 padding: 10px;
    width: 10%;
    height:20px;
  border: solid 2px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}



